<div class="">
    <p-accordion [activeIndex]="0">
        <ng-template ngFor let-notification [ngForOf]="notifications">
            <p-accordionTab>
                <ng-template pTemplate="header" class="flex">
                    <p-avatar icon="pi {{notification.icon}}" styleClass="mr-2" shape="circle"
                        [style]="{ 'background-color': notification.color, color: '#ffffff' }"></p-avatar>
                    <span class="vertical-align-middle">{{notification.name}}</span>
                    <div class="text-xs vertical-align-top text-right hidden absolute right-0 pr-3 md:block ">{{ notification.date }}</div>
                </ng-template>
                <div class="text-xs vertical-align-top text-right md:hidden">{{ notification.date }}</div>
                <p>
                    {{ notification.description }}
                </p>
                <p-button label="Visitar" styleClass="p-button-secondary"
                    routerLink={{notification.routerLink}} [style]="{ 'margin-left': '.5em' }"></p-button>
            </p-accordionTab>
        </ng-template>
    </p-accordion>
</div>