<p-card header="Heladas en Cota" subheader="Posibles heladas en la sabana de Bogotá">
    <div class="flex flex-wrap w-full">
        <div
            class="flex flex-wrap align-items-center justify-content-center font-bold m-2 border-round newsImageContainer">
            <p-image src="assets/heladas.jpg" width="100%"></p-image>
        </div>
        <div class="flex flex-wrap  font-bold m-2 border-round newsTextContainer">
            <p>Para los proximos dias se vienen heladas en la sabana de bogotá, se preveé temperaturas por debajdo de
                los -5 grados Celcius.</p>
            <p>Se recomienda tener precauciones en sus cultivos</p>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </div>
    </div>


    <ng-template pTemplate="footer">
        <p-button label="Marcar como leida"></p-button>
    </ng-template>
</p-card>
<p-card header="Noticia1" subheader="Posibles heladas en la sabana de Bogotá">
    <div class="flex flex-wrap w-full">
        <div
            class="flex flex-wrap align-items-center justify-content-center font-bold m-2 border-round newsImageContainer">
            <p-image src="assets/heladas.jpg" width="100%"></p-image>
        </div>
        <div class="flex flex-wrap  font-bold m-2 border-round newsTextContainer">
            <p>Para los proximos dias se vienen heladas en la sabana de bogotá, se preveé temperaturas por debajdo de
                los -5 grados Celcius.</p>
            <p>Se recomienda tener precauciones en sus cultivos</p>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </div>
    </div>


    <ng-template pTemplate="footer">
        <p-button label="Marcar como leida"></p-button>
    </ng-template>
</p-card>