.graphIcon{
    border: var(--surface-border) 3px solid;
    background: var(--surface-b);
    margin: 0;
    display: block;
}
.graphContainer{
    width:  100% !important;
    height: 85% !important;
}
