<div class="flex w-100 justify-content-center  md:h-30rem ">
    <div style="max-width: 700px" class="flex flex-wrap align-items-end h-auto">
        <div class="grid max-h-20rem ">
            <ng-template ngFor let-item [ngForOf]="items" let-i="index">
                <a routerLink={{item.routerLink}}>
                    <div class="col cardIcon border-round-lg m-2 mr-3 text-center">
                        <i class='{{item.icon + " text-8xl pt-2" }}'></i>
                    </div>
                </a>
            </ng-template>
        </div>
    </div>
</div>
